/* default settings */
:root {
  --white: #FFFFFF;
  --background-gray: #707070;
  --opacity-light: #00000029;
  --text-gray: #888888;
}

html, body {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  background-color: var(--background-gray);
}

label {
  margin-bottom: 12px;
}

/* custom selectors */

#main {
  background-color: var(--white);
}

.header-container {
  background-color: var(--background-gray);
  color: var(--white);
}

.about-container {
  background-color: var(--white);
}

.products-container {
  background-color: var(--white);
}

.sharing-container {
  background-color: var(--white);
}

.footer-container {
  background-color: var(--background-gray);
  color: var(--white);
  padding: 7%;
}

.header-container,
.about-container,
.products-container,
.sharing-container {
  padding: 5%;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card-item {
  background-color: lightblue;
  margin: 7px;
}


.column {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.button-nav {
  background-color: var(--white);
  color:var(--text-gray);
  border-radius: 3px;
  text-decoration: none;
  text-align: center;
  margin: 6px;
  padding: 14px;
  min-width: 160px;
}

.button-control {
  height: 36px;
  border: 0.5px solid var(--background-gray);
  border-radius: 3px;
  color: var(--text-gray);
}

.radio-group {
  margin: 24px 0;
}


.title-lead {
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--background-gray);
}

.title-lead::before,
.title-lead::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #000;
}
.title-lead:not(:empty)::before {
  margin-right: .25em;
}

.title-lead:not(:empty)::after {
  margin-left: .25em;
}

.text-group,
.form-group {
  color: var(--text-gray);
}

/* utilitary classes */

.text-center {
  text-align: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.space-evenly {
  display: flex;
  justify-content: space-evenly;
}

.low-text-padding {
  margin: 3.5px;
}

.container {
  padding: 5%;;
}
