/* default html selectors settings */
:root {
  --white: #FFFFFF;
  --background-gray: #707070;
  --opacity-light: #00000029;
  --text-gray: #888888;
}

html, body {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  background-color: var(--background-gray);
}

label {
  margin-bottom: 12px;
}

small {
  display: block;
}

button:hover {
  cursor: pointer;
  background-color: var(--opacity-light);
}

/* custom selectors */

#main {
  background-color: var(--white);
}

.header-container {
  background-color: var(--background-gray);
  color: var(--white);
  position: relative;
  margin-bottom: 100px;
}

.about-container {
  background-color: var(--white);
  position: relative;
  display: flex;
  flex-direction: row;
  color: var(--text-gray);
}

.about-container::before {
  content: '';
  position: absolute;
  border-bottom: 100px solid var(--white);
  border-right: 100vw solid transparent;
  top: -100px;
}

.products-container {
  background-color: var(--white);
  color: var(--text-gray);
}

#accordion {
  display: none;
}

.price-container {
  margin-top: 7px;
}

.price-container p {
  margin: 7px auto;
}

.sharing-container {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  color: var(--text-gray);
}

.footer-container {
  background-color: var(--background-gray);
  color: var(--white);
  padding: 3%;
  position: relative;
}

.footer-container::before {
  content: '';
  position: absolute;
  border-bottom: 100px solid var(--background-gray);
  border-left: 100vw solid transparent;
  top: -100px;
}

.header-container,
.products-container,
.sharing-container {
  padding: 24px;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card-item {
  display: flex;
  flex-direction: column;
  margin: 7px;
  border: 1px solid transparent;
}

.card-item:hover {
  border: 1px solid var(--opacity-light);
}

.column {
  display: flex;
  flex-direction: column;
  margin: 0 24px 24px 24px;
}

.button-nav {
  background-color: var(--white);
  color:var(--text-gray);
  border-radius: 3px;
  text-decoration: none;
  margin: 6px;
  height: 48px;
  padding: 0 3%;
}

.button-control {
  background-color: var(--white);
  height: 36px;
  border: 0.5px solid var(--background-gray);
  border-radius: 3px;
  color: var(--text-gray);
  width: 100%;
  margin: 7px 0;
}

.button-control-lead {
  background-color: var(--white);
  height: 36px;
  border: 0.5px solid var(--background-gray);
  border-radius: 3px;
  color: var(--text-gray);
  min-width: 420px;
  margin: 24px 0;
}

.input-control {
  background-color: var(--white);
  height: 36px;
  border: 0.5px solid var(--background-gray);
  border-radius: 3px;
  color: var(--text-gray);
  padding-left: 7px;
}

.radio-group {
  margin: 24px;
  text-align: center;
}

.title-lead {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0 3%;
}

.title-lead::before,
.title-lead::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #000;
}

.title-lead:not(:empty)::before {
  margin-right: .25em;
}

.title-lead:not(:empty)::after {
  margin-left: .25em;
}

.text-group h1 {
  margin-top: 0;
  padding-top: 0;
}

.text-group,
.form-group {
  padding: 0 5%;
}

.share-form {
  margin-bottom: 60px;
}

/* utilitary classes */

.row {
  display: flex;
  flex-direction: row;
}

.col-responsible {
  width: 50%;
}

.text-center {
  text-align: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.menu-nav {
  display: flex;
  justify-content: space-evenly;
}

.low-text-padding {
  margin: 3.5px;
}

