/* default settings */

:root {
  --white: #FFFFFF;
  --background-gray: #707070;
  --opacity-light: #00000029;
  --text-gray: #888888;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* default selectors */

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

header {
  background-color: var(--background-gray);
  color: var(--white);
}

footer {
  background-color: var(--background-gray);
  color: var(--white);
}

/* utilitary classes */

.text-center {
  text-align: center;
}
