/* default settings */

:root {
  --white: #FFFFFF;
  --background-gray: #707070;
  --opacity-light: #00000029;
  --text-gray: #888888;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* default selectors */

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;

  background-color: var(--background-gray);
}

#main {
  background-color: var(--white);
  background: linear-gradient(0deg, var(--background-gray) 10%, var(--white) 10%);
}

.header-container {
  background-color: var(--background-gray);
  color: var(--white);
  height: 399px;

  margin-top: -80px;
  transform: skew(0deg, 5deg);
  clear: both;
}

.about-container {
  background-color: var(--white);
  transform: skew(0deg, 5deg);
  clear: both;
  margin-top: 5%;
}

.products-container {
  background-color: var(--white);
  transform: skew(0deg, -5deg);
  clear: both;
  margin-top: 5%;
}

.about-container,
.products-container {
  padding: 0 5%;
}

.footer-container {
  background-color: var(--background-gray);
  color: var(--white);
  min-height: 200px;
  margin-top: 80px;
  transform: skew(0deg, -5deg);
}


.column {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.input-control {
  height: 36px;
  border: 0.5px solid var(--background-gray);
  border-radius: 3px;
  color: var(--text-gray);
}

.radio-group {
  margin: 24px 0;
}

label {
  margin-bottom: 12px;
}

.title-lead {
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--background-gray);
  width: 89vw;
}

.title-lead::before,
.title-lead::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #000;
}

.title-lead:not(:empty)::before {
  margin-right: .25em;
}

.title-lead:not(:empty)::after {
  margin-left: .25em;
}

.text-group, .form-group {
  width: 50%;
}

.text-group {
  color: var(--text-gray);
}

.form-group {
  color: var(--text-gray);
}

.button {
  background-color: var(--white);
  color:var(--text-gray);
  border-radius: 3px;
  text-decoration: none;
  text-align: center;
  margin: 6px;
  padding: 14px;
  min-width: 160px;
}

/* utilitary classes */

.text-center {
  text-align: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.space-evenly {
  display: flex;
  justify-content: space-evenly;
}

.header-fix {
  transform: skew(0deg, -5deg);
}

.about-fix {
  display: flex;
  transform: skew(0deg, -5deg);
}

.products-fix {
  transform: skew(0deg, 5deg);
}

.footer-fix {
  transform: skew(0deg, 5deg);
  padding-top: 50px;
}
