@media only screen and (max-width: 600px) {
  /* default html selectors settings */
  i {
    transition: all 0.5s ease-in-out;
  }

  /* custom selectors */
  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #accordion {
    display: block;
  }

  .card-container {
    display: flex;
    flex-direction: column;
  }

  .photo-product {
    border: 1px solid var(--opacity-light);
    margin-right: 7px;
  }

  .item-description {
    display: none;
  }

  .button-control-lead {
    min-width: 80%;
  }

  .button-nav {
    background-color: var(--white);
    color: var(--text-gray);
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
  }

  .menu-nav {
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin: 0 5%;
  }

  .figure-container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin: 0 5%;
  }

  #text-accordion {
    transition: all 0.5s ease-in-out;
  }

  /* utilitary classes */
  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .space-between {
    display: flex;
    justify-content: space-between;
  }

  .col-responsible {
    width: 80%;
  }

  .rotate {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transition: all 0.5s ease-in-out;
  }


  .hidden {
    display: none;
    transition: all 0.3s ease-in-out;
  }
}
